/*
incorrect {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

a {
  color: #00B7FF;
}

body {
	background-color: #edebaa;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

   background: -webkit-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -moz-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -ms-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -o-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   padding: 3%;
   height: 94%;
}

/* Ruled paper effect based on http://www.techrepublic.com/blog/web-designer/how-to-get-the-ruled-paper-background-effect-with-css3/ */
.paper {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font: normal 13px/1.5 "Lucida Grande", arial, sans-serif;
	color: #012395;

	padding: 8px 0px 3px 80px;
	position: relative;
	color: #444;
	line-height: 20px;

	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
	background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	-webkit-background-size: 100% 20px;
	-moz-background-size: 100% 20px;
	-ms-background-size: 100% 20px;
	-o-background-size: 100% 20px;
	background-size: 100% 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0.770 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	width: 850px;
	min-height: 1056px;
}

.paper::after {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 70px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.testTitleSection {
	margin-bottom: 20px;
	margin-top: -5px;
	margin-left: -80px;
	background-color: #ffffff;
	min-height: 64px;
	padding-top: 64px;
	vertical-align: bottom;
}

.testTitle {
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 21px;
	text-decoration: underline;
}

.testText {
	font-weight: 400;
}

.testResponse {
	color: #7b7b7b;
}

.testResponseInput {
	border-width: 0;
	background: transparent;
	height: 20px;
	width: 200px;
}

.testResponseInput:focus {
    outline-width: 0;
}

.conjugationTableContainer {
	display: table;
}

.conjugatedVerb {
	/* If using a monospace font reduce the font size a bit */
	font-family: "Lucida Console", "Monaco", monospace;
	font-size: 12px;
}

td, th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	font-weight: normal;
	letter-spacing: 1px;
}

.next {
	display: none;
}

.nextButton {
	background: transparent;
	color: #00B7FF;
	border: 0px solid white;
	height: 20px;
	padding: 0;
	margin-top: 18px;
	text-decoration: underline;
}

.perspective {
	text-align: right;
}


.conjugationTableContainer table {
	color: #6b6ba5;
	margin-top: 20px; /* must be same as line-height */
}

.correct {
	color: #11cc11;
}

.incorrect {
	color: #ff1111;
}

/* Controls and preferences */
#controls {
	position: absolute;
	right: 10px;
}

.preferences {
	padding-top: 1px; /* Adjust this the same as .test padding-top */
	display: none;
}

.test {
	padding-top: 1px;
}

.preferencesTitle {
	margin-top: 20px; /* set to line-height */
}

.verb.deselected, .mood.deselected {
	text-decoration: line-through;
	color: #ccc;
}

.chooseVerbs td {
	width: 100px;
}

.difficultyTitle {
	margin-top: 20px;
}

.link:hover {
	cursor: pointer;
}

.hilightWrongAnswer {
	color: red;
	font-weight: 700;
	border-bottom: 1px solid red;
}

.preferences > p {
	margin-top: 0;
	margin-left: 10px;
}

/* Nice flat checkboxes, but not using these.
input[type=checkbox].ttsAudioCheckbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].ttsAudioCheckbox + label {
	padding-left:20px;
	height:15px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	font-weight: 700;
}

input[type=checkbox].ttsAudioCheckbox:checked + label {
	background-position: 0 -15px;
}

.ttsAudioCheckboxLabel { background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png); } */

.translatedVerb {
	color: #657d65;
	float: right;
	margin-right: 100px;
	display: none;
}

/*
select {
	border: 1px solid lightblue;
	border-radius: 3px;
	color: #00B7FF;
	width: 100px;
	height: 18px
	padding-bottom: 2px;
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
}

select:active {
    border: 1px solid #000;
}
*/

select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50px' height='50px'><polyline fill='#ccc' points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color: white;
	background-repeat:no-repeat;
	background-position: right 10px top 1px;
	background-size: 16px 16px;
	color: #00B7FF;
	width:100px;
	padding-left: 8px;

	padding-bottom: 2px;
	padding-top: 1px;
	font-size:12px;
	font-weight:bold;
	border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-appearance: none;
	border:1px solid #00B7FF;
	outline:0;
	-webkit-transition:0.3s ease all;
		-moz-transition:0.3s ease all;
		-ms-transition:0.3s ease all;
			-o-transition:0.3s ease all;
			transition:0.3s ease all;
	height: 22px;
	margin-top: -5px;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

select:focus, select:active {
  border:1px solid #00B7FF;
  outline:0;
}

select:hover {
	background-color: #eef;
}

@media (max-width: 1000px) {
	body {
		padding-left: 10px;
	}

	.paper {
		margin-left: 20px;
	}
}

@media (max-width: 920px) {
	body {
		padding-left: 10px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.paper {
		margin-left: 0;
		padding: 8px 0px 3px 80px;
	}

	.test {
		padding-left: 10px;
	}
}

@media (max-width: 870px) {
	body {
		padding-left: 0px;
		width: auto;
	}

	.paper {
		font: normal 26px georgia, serif;
		line-height: 35px;
		-webkit-background-size: 100% 35px;
		-moz-background-size: 100% 35px;
		-ms-background-size: 100% 35px;
		-o-background-size: 100% 35px;
		background-size: 100% 35px;

		width: auto;
		min-height: 1700px;

		/* iPhone 3is 320px wide (unsupported) */
		/* iPhone 4 is 640px wide, nexus 4 is 768px */
		min-width: 640px;
		padding-right: 10px;
	}

	.chooseVerbs {
		/* If the font size is too big it can be too wide for the page */
		/* Alternatively we could change the number of columns! */
		font-size: 22px;
	}

	/* Do not use monospace on mobile since they don't need to line up. */
	.conjugatedVerb {
		font: normal 26px georgia, serif;
	}

	/* Adjust according to padding-right on .paper */
	.testTitleSection {
		margin-right: -10px;
	}

	/* Adjust these so that the text just sits above the line */
	.testTitle {
		font-size: 32px;
		margin-top: -43px;
		margin-bottom: 38px; /* adjust this enough to push preferences and test down onto line */
		margin-left: 10px;
		margin-right: 10px;
		font-weight: 500;
	}

	.preferencesTitle:first-child {
		margin-top: 0px; /* set to line-height */
	}

	.preferencesTitle {
		margin-top: 35px; /* set to line-height */
	}

	.testResponseInput {
		border-width: 0;
		background: transparent;
		height: 35px;
		width: 200px;
	}

	.difficultyTitle {
		margin-top: 35px;
	}

	select {
		line-height: 20px;
		background-position: right 4px top 1px;
		font-size:16px;
	}

	.not-wrong-mood {
		display: none;
	}

	.conjugationTableContainer table {
		margin-top: 35px;
	}

	.nextButton {
		height: 35px;
		margin-top: 26px;
		color: #00B7FF;
	}

	/* Since mobile devices don't pop up the keyboard, make the input more
	 * obvious. */
	.testResponseInputContainer {
		border-bottom: 2px dashed #aaa;
	}

	.raise-up-from-line {
		margin-top: -10px;
		padding-bottom: 10px;
	}
}


/* Hack to disable font boosting, see:
 * http://stackoverflow.com/questions/13430897/how-to-override-font-boosting-in-mobile-chrome
 */
html * {max-height:1000000px;}
