incorrect {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
	background-color: #edebaa;
	margin-left: auto;
	margin-right: auto;
	width: 70em;

   background: -webkit-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -moz-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -ms-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: -o-linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   background: linear-gradient(top, rgb(136,199,201) 58%, rgb(202,232,235) 100%);
   padding: 3%;
   height: 94%;
}

/* Ruled paper effect based on http://www.techrepublic.com/blog/web-designer/how-to-get-the-ruled-paper-background-effect-with-css3/ */
.paper {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font: normal 13px/1.5 "Lucida Grande", arial, sans-serif;
	color: #012395;

	padding: 8px 0px 3px 80px;
	position: relative;
	color: #444;
	line-height: 20px;

	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
	background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	-webkit-background-size: 100% 20px;
	-moz-background-size: 100% 20px;
	-ms-background-size: 100% 20px;
	-o-background-size: 100% 20px;
	background-size: 100% 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0.770 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	width: 816px;
	height: 1056px;
}

.paper::after {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 70px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}

.testTitleSection {
	margin-bottom: 20px;
	margin-top: -5px;
	margin-left: -80px;
	background-color: #ffffff;
	min-height: 64px;
	padding-top: 64px;
	vertical-align: bottom;
}

.testTitle {
	background-color: transparent;
	font-size: 1.15em;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 21px;
	text-decoration: underline;
}

.testText {
	font-weight: 400;
}

.testResponse {
	color: #7b7b7b;
}

.testResponseInput {
	border-width: 0;
	background: transparent;
	height: 20px;
	width: 8em;
}

.testResponseInput:focus {
    outline-width: 0;
}

.conjugationTableContainer {
	font-family: monospace;
	display: table;
}

td, th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	vertical-align: bottom;
}

.next {
	display: none;
}

.nextButton {
	background: transparent;
	color: green;
	font-family: monospace;
	border: 0px solid white;
	height: 20px;
	padding: 0;
	margin-top: 18px;
	text-decoration: underline;
}

.perspective {
	text-align: right;
	font-weight: 600;
}


.conjugationTableContainer table {
	color: #6b6ba5;
	margin-top: 20px; /* must be same as line-height */
}

.correct {
	color: #11cc11;
}

.incorrect {
	color: #ff1111;
}

/* Controls and preferences */
#controls {
	position: absolute;
	right: 10px;
}

.preferences {
	display: none;
}

.preferencesTitle {
	margin-top: 20px;
}

.verb.deselected, .mood.deselected {
	text-decoration: line-through;
	color: #ccc;
}

.chooseVerbs td {
	width: 100px;
}

.difficultyTitle {
	margin-top: 20px;
}

.link:hover {
	cursor: pointer;
}

.hilightWrongAnswer {
	color: red;
	text-decoration: underline;
}

.preferences > p {
	margin-top: 0;
	margin-left: 10px;
}

/* Nice flat checkboxes, but not using these.
input[type=checkbox].ttsAudioCheckbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].ttsAudioCheckbox + label {
	padding-left:20px;
	height:15px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	font-weight: 700;
}

input[type=checkbox].ttsAudioCheckbox:checked + label {
	background-position: 0 -15px;
}

.ttsAudioCheckboxLabel { background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png); }
*/
